Introduction to Data Science

Data science is an academic field that uses scientific methods, statistics, and algorithms to extract knowledge from data

# Data science languages

Python
SQL
R
Hadoop
Apache spark

# Data science libraries

TensorFlow
NumPy
SciPy 
Pandas
Matplotlib 
Keras
SciKit-Learn
PyTorch

# Data science tools

Tableau
Jupyter Notebook

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [2]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [3]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [4]:
(3*4)+5
# Result: 17

17

Exercise 9 - Create a code cell to convert minutes to hours.

In [5]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Exercise 10 -Insert a markdown cell to list Objectives.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

# Author:

Aneesh Jayan Prabhu